.header-item {
  width: 100%
}

.header-container {
  display: flex;
  flex-wrap: wrap;
}

.header-container>div {
  flex: 0 50%;
  /*demo*/
  border: red solid;
  box-sizing:border-box
}

.select-wrapper .select-dropdown {
  //display: none !important;
}